@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin container {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 40px;
  }

  @include onDesktop {
    max-width: 1280px;
    margin: auto;
    padding-inline: 80px;
  }
}