.book-card {
  margin: 100px 0;

  &__container {
    @include container;
  }

  &__grid {
    @include onTablet {
      display: grid;
      column-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__main {
    min-height: 80vh;
  }
  
  &__info {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    @include onTablet {
      grid-column: 2 / 4;
    }
  }

  &__img {
    height: 250px;
    display: block;
    margin: 0 auto;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);

    @include onTablet {
      height: 300px;
    }

    @include onDesktop {
      height: 400px;
    }
  }

  &__title {
    padding-top: 30px;
    color: #fff;
    font-size: 25px;

    @include onTablet {
      padding-top: 0;
      font-size: 35px;
    }
  }

  &__rating {
    padding-top: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: end;
    align-items: center;

    @include onTablet {
      padding-top: 0;
      font-size: 20px;
    }
  }

  &__star {
    padding-left: 10px;
    height: 20px;
  }

  &__inf {
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
    grid-column: 1/2;
    font-weight: 400;

    &--weight {
      font-weight: 330;
      color: #ffffffce;
    }

    @include onTablet {
      font-size: 25px;
    }
  }

  &__abstract {
    padding-top: 30px;
    grid-column: 1 / 3;
    text-indent: 20px;
    color: #fff;
    font-weight: 400;
    text-align: justify;
    line-height: 140%;

    @include onTablet {
      font-size: 20px;
    }
  }

  &__forum {
    color: #fff;
  }
}