.faq {
  height: 100vh;
  background: linear-gradient(313deg, rgba(69,37,80,1) 0%, rgba(48,31,73,1) 38%, rgba(42,25,91,1) 100%);

  &__title {
    color: aqua;
  }

  &__quest {
    color: #fff;
  }
  
  &__answ {
    color: #fff;
  }
}